<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FYNZON</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.js"></script>
</head>

<body>

    <div class="bg-dark" id="main">

    <!--Header-->
    <div class="container-fluid d-flex justify-content-center bg-dark">
        <h1 class="display-3 text-primary font-weight-bold">FYNZON</h1>
    </div>

    <div class="container-fluid d-flex justify-content-center bg-dark">
        <h4 class="text-danger font-weight-bold">Enter the Following Details To Register</h4>
    </div>

    <div class="container-fluid d-flex justify-content-center">

        <div class="container d-flex justify-content-center bg-light" id="container">

            <!--Registration Details-->
            <form action="/mobverify" method="POST" class="form-group" name="register" onsubmit="return registerValidation(this)">
                <div class="form-group d-flex justify-content-center">
                    <input type="text" name="phone" class="text-center form-control" placeholder="Phone Number">
                </div>

                <div class="form-group d-flex justify-content-center">
                    <input type="text" class=" text-center form-control" name="fname" placeholder="First Name">
                </div>

                <div class="form-group d-flex justify-content-center">
                    <input type="text" class="text-center form-control" name="lname" placeholder="Last Name">
                </div>

                <div class="form-group d-flex justify-content-center">
                    <input type="text" class="text-center form-control" name="email" placeholder="Email Id">
                </div>

                <div class="form-group d-flex justify-content-center">
                    <input type="password" class="text-center form-control" name="pin" placeholder="Your 4 digit Pin">
                </div>

                <div class="form-group d-flex justify-content-center">
                    <input type="password" class="text-center form-control" name="cpin" placeholder="Repeat Pin">
                </div>

                <div class="form-group d-flex justify-content-center">
                    <input type="submit" name="register" class="btn btn-success" value="Register"> &nbsp; &nbsp; 
                    <input type="reset" name="Reset" class="btn btn-warning text-white">
                </div>
            </form>

        </div>
    </div>
    </div>

    <!--Script-->
    <script src="/javascripts/myScript.js"></script>

</body>
</html>