body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#main {
  height: 1000px;
  padding-bottom: 10%;
  padding-top: 3%;
}

.createNode {
  padding-top: 200px;
}

#container {
  height: 20%;
  width: 20%;
  margin-bottom: 10%;
  margin-top: 3%;
  padding-top: 3%;
}

#container1 {
  height: 20%;
  width: 20%;
  margin-top: 3%;
  padding-top: 3%;
}

#container2 {
  height: 20%;
  width: 20%;
  padding-top: 3%;
}
